<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082465019292-chs9vurq3cf4oefq2svcdc7bvbhjatsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082465019292-chs9vurq3cf4oefq2svcdc7bvbhjatsc</string>
	<key>API_KEY</key>
	<string>AIzaSyC0RCw_MHiRUnwr610u2YUPSgUkHrTItbI</string>
	<key>GCM_SENDER_ID</key>
	<string>1082465019292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NoohsArk.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-cd8e0</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-cd8e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082465019292:ios:1dd7b083d9860ba2f1d459</string>
</dict>
</plist>